<!DOCTYPE html>
<html>

<head>
    <title>Student Result</title>
</head>

<body>

    <h2>Student Result Form</h2>

    <form action="{{ url_for('submit') }}" method="POST">

        <label for="science">Science:</label>
        <input type="text" id="science" name="science" value="0">
        <br><br>

        <label for="maths">Maths:</label>
        <input type="text" id="maths" name="maths" value="0">
        <br><br>

        <label for="c">C:</label>
        <input type="text" id="c" name="c" value="0">
        <br><br>

        <label for="datascience">Data Science:</label>
        <input type="text" id="datascience" name="datascience" value="0">
        <br><br>

        <input type="submit" value="Submit">

    </form>

</body>

</html>